@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager NavigationManager

<div class="chatcomponent">
    <AuthorizeView>
        <Authorized>
            <div class="chatscreen" id="msgscreen">
                @foreach (var message in _messages)
                {
                    <div class="chatitem">
                        <p class="chatitemsmalltext">@message.Username - @message.CreatedDate</p>
                        <p>@message.MessageBody</p>
                    </div>
                }
            </div>
            <div class="chattextbox">
                <textarea class="chattextarea" @bind="_messageInput" />
                <div class="chatbuttonarea">
                    <button @onclick="Send" disabled="@(!IsConnected)" class="chatbutton">Chat</button>
                    <button @onclick="AddToList" disabled="@(!IsConnected)" class="chatbutton">List</button>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            Please log in to join chat
        </NotAuthorized>
    </AuthorizeView>
</div>

